<div class="container">

  <div class="portfolio" id="portfolio">
    <section class="galleries">
      <header class="top-bar">
        <div>
<!--          <acme-navbar creationDate="main.creationDate" /> -->
        </div>
      </header>
      <div class="gallery" ng-repeat="gallery in main.galleries | orderBy:'index'">
        <h3>{{ gallery.title }}</h3>
        <div class="wrapper">
          <k-gallery-item content="content" ng-repeat="content in gallery.contents | orderBy:'index'" ></k-gallery-item>
        </div>
      </div>
      <footer class="page-meta">
        <!-- ... -->
      </footer>
    </section><!-- /galleries -->
  </div>

</div>
