/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   less dependencies when defined in the bower.json of your dependencies */
// bower:less
// endbower

@item_width: 200px;
@anim-time: 0.5s;

@color_primary: #000;
@color_secondary: rgb(40, 36, 88);
@color_link: #81c483;
@color_text: #FFF;

.body-hidden {
  overflow: hidden;
}

.galleries {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector
