$background: #303030;
$light-background: #3D3D3D;
$big-border: #72020B;

$header-height: 60px;
$footer-height: 40px;
$sidebar-width: 15em;

$animation-duration: .2s;

$pf-label-height: 15em;
$pf-label-bottom: 10%;