@import "elements.less";

@content_height: 700px;
@span: 200px;
@row: 350px;

@text_color1: black;
@text_color2: #790005;

@font-face { font-family: Altera; src: url('fonts/altera.ttf'); } 

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
	font-family: Altera;
}

.header {
	float: left;
	height: 186px;
	position: relative;
}

.header-title {
	width: 462px;
	margin-top: 24px;
	margin-left: 4px;
	font-size: 63px;
	text-align: right;
	float: left;
	background-image: url('images/underline.png');
	background-repeat:no-repeat;
	background-position:right 49px;
}
.header-subtitle {
	font-size: 41px;
	color: @text_color2;
}

.header-menu {
	float:left;
	margin-top: 52px;
	margin-left: 56px;
	li{
		line-style:none;
		float:left;
		font-size: 58px;
		margin-right: 65px;
		a{
			text-decoration: none;
			color: black;
		}
	}
}

.logo {
	height: 254px;
	width: 236px;
	margin-top: 16px;
	margin-left: 84px;
	background-image: url('images/logo.png');
	float: left;
}

.content {
	min-width: 100%;
	float: left;
	height: @content_height;
}

.pf-item {
	display: inline-block;
	height: @content_height;
	margin-left: -83px;
}

.pf-item-title {
	float: left;
	height: 0px;
	-webkit-backface-visibility: hidden;
	.transform(translateX(-100%) rotate(-90deg));

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;
	transform-origin: right top;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	span {
		display: block;
		position: relative;
		right: -68px;
		text-align: right;
		font-size: 100px;
		color: @text_color2;
		-webkit-user-select: none;
	}
}

.pf-item-content {
	margin-left: 95px;
}

.collumn {
	margin-top: -30px;
	float: left;
}

footer {
	background-color: #F5F5F5;
	top: 923px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	.inner-shadow(0, 4px, 0px, 0.4);
}

.span {
	margin-left: 26px;
}
.span1 {
	.span;
	width : @span;
}
.span2 {
	.span;
	width : (2 * @span);
}
.span3 {
	.span;
	width : (3 * @span);
}
.span4 {
	.span;
	width : (4 * @span);
}

.row {
	margin-top: 30px;
}
.row1 {
	.row;
	height : (@row - 15px);
}
.row2 {
	.row;
	height : (2 * @row);
}

.test1 {
	background-color: #55FF55;
}
.test2 {
	background-color: #5555FF;
}
.test3 {
	background-color: #FF5555;
}